h2 {
    display: block;
    width: 100%;
    font-size: 50px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(164, 0, 68);
    text-align: center;
    background: radial-gradient(40% 6910.29% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 80%);
    padding: 10px;
    margin-bottom: 40px;
}

.offer {
    background-color: rgb(200, 200, 200);
    padding: 20px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.offer-item {
    padding: 10px;
    margin: 10px;
    width: 480px;
    text-align: center;
    /* padding-top: 20px; */
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.2);
}

.boss {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-item img {
    width: 50px;
    height: 50px;
}

.offer-item.boss img {
    width: 150px;
    height: 150px;
}

.offer-item p {
    padding-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.offer-item.boss p {
    font-size: 18px;
}

.stages {
    padding: 20px 0;
    min-height: 600px;
    background-image: url(img/process.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.stages-item { 
    margin: 30px; 
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 380px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px dashed rgb(164, 0, 68);
    border-radius: 15px;
    box-sizing: border-box;
}

.stages-item img {
    width: 75px;
    height: 75px;
}

.stages-item .number {
    margin-bottom: 10px;
    text-align: center;
    font-size: 65px;
    color: rgb(164, 0, 68);
    text-align: center;
    width: 80px;
    height: 70px;
}

.stages-item .text {
    margin: 5px;
    display: inline-block;
    max-width: 260px;
    word-wrap: normal;
    text-align: center;
    font-size: 18px;
}

.new-line, .nl2 {
    content: '';
    width: 100%;
}

.nl2 {
    display: none;
}

.claim {
    background-image: url(img/men-1979261_1920.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.claim-text {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
}

.details {
    margin: 20px;
    width: 230px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(164, 0, 68);
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    
}

.price {
    margin: 10px;
    width: 55px;
    height: 400px;
    border-radius: 50px;
    background-color: rgb(164, 0, 68);
    padding: 20px;
}

.price p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.types {
    background-image: url(img/lab.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.types-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 20px;
    width: 300px;
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(164, 0, 68);
    font-size: 18px;
}

.types-item:hover {
    background-color: rgba(200, 200, 200, 0.6);
    box-shadow: inset 2px 2px 5px rgb(82, 82, 82);
}

.types-item:active {
    box-shadow: inset 5px 5px 10px rgb(82, 82, 82);
}

.types a:link {
    text-decoration: none;
}

.types-item p {
    margin: 0px;
}

.documents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: center;
    height: 550px;
    background-image: url(img/books.jpg);    
    background-position: center;
    background-size: cover;
}

.document-item {
    padding: 10px;
    margin: 10px;
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px dashed rgb(164, 0, 68);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.document-item .title {
    color: rgb(164, 0, 68);
    font-size: 30px;
    font-weight: 700;
}

.document-item .description {
    font-size: 18px;
}

@media(max-width:1210px) {
    .new-line {
        display: none;
    }
}

@media(max-width:900px) {
    .types {
        padding-bottom: 10px;
    }
    .types-item {
        margin: 10px;
    }
    .offer {
        height: auto;
    }
    .offer-item {
        width: 350px;
    }
}

@media(max-width:1024px) {
    .price {
        height: 55px;
        width: 450px;
        padding: 10px;
    }

    .nl2 {
        display: block;
    }

    .stages-item {
        margin: 15px;
        width: 360px;
    }

    .stages-item .text {
        width: 230px;
    }
}

@media(max-width:425px) {
    .stages-item {
        margin: 20px;
    }

    .stages-item .text {
        width: 230px;
    }
}

